#weatherCard {
    position: absolute;
    right: 5px;
    background-image: url(../images/weatherBackground.png);
    background-size: 110%;
    background-position-x: 50%;
}
#news {
    position: absolute;
    left: 2%;
}
#weatherArea {
    float: right;
    line-height: 1.5;
    
}
#dayofweek {
    float: left;
}
body {
    background-color: rgb(247, 242, 235);
}


.news-table {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
}

.news-title {
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 143, 144);
}

.news-published-at {
    font-size: 12px;
    font-style: italic;
    margin-top: -10px;
}

.news-row {
    text-align: center;
    padding: -10px;
}

footer {
    max-height: 2em;
    position: bottom;
    color: orange;
}
